body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  color: blue;
  font-size: 3em;
}

h2 {
  color: darkmagenta;
  font-size: 2.5em;
}

p{
  font-size: 1.2em;
}

input {
  border: 1px solid darkcyan;
}

button {
  border-radius: 5px;
  border: 3px solid darkcyan;
  color: darkmagenta;
  font-size: 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 1px 1px;
}

.hidden {
  visibility: hidden;
}
